{% extends "customer/base.html" %}
{%load static%}

{%block title%}Cart {%endblock title%}

{%block body%}


<div class="alert my-0 {% if message.tags == success and messages %} alert-success {%elif message.tags == "error"  %} alert-danger {%else%}{%endif%}" role="alert">
  {% for message in messages %}
  <small {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</small>
  {% endfor %}
</div>

<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-10">
        <div class="card">
          <div class="card-body">

            <div class="row">

              <div class="col">
                <h5 class="mb-3"><a href="/" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <h5 class="mb-1">Shopping cart</h5>
                    <p class="mb-0">You have {{cart_items|length}} items in your cart</p>
                  </div>
                </div>
                {%for item in cart_items %}
                <div class="card mb-3 cart-item" data-product-id="{{item.product.id}}">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img src="{{ item.product.image.url}}" class="img-fluid rounded-3" alt="Shopping item"
                            style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>{{item.product.name}}</h5>
                          <p class="small mb-0">{{item.product.description}}</p>
                        </div>
                      </div>
                      <div class="row d-flex align-items-center">
                      <form method="POST" class="remove-cart-item-form mb-0">
                        {% csrf_token %}
                      <input type="hidden" class="product-id" value="{{ item.product.id }}">
                      <div class="d-flex flex-row align-items-center">
                        <button class="btn btn-link px-2 decrease-quantity">
                          <i class="fas fa-minus"></i>
                        </button>
                        <h5 class="item-quantity fw-normal mb-0">{{ item.quantity }}</h5>
                        <button class="btn btn-link px-2 increase-quantity">
                          <i class="fas fa-plus"></i>
                        </button>
                        <button class="btn btn-link px-2" type="submit">
                          <i class="fa fa-trash remove-cart-item" style="color:black;"></i>
                        </button>
                      </div>
                      </form>
                      </div>
                    </div>
                  </div>
                </div>
                {%endfor%}
              </div>

            </div>
            


            {%if cart.total > 0 %}
            <div id="coupon-container" {%if cart.coupon_use%}  style="display: none; "{%endif%}>
              <div class="col-md-4 my-3">
                <form id="coupon-form" method="POST">
                  {% csrf_token %}
                  {{ coupon_form.as_p }}
                  <button class="btn btn-dark mb-3" type="submit">Apply Coupon</button>
                </form>
                
                <p>Available Coupons:</p>
                {% for coupon in coupons %}
                <a href="#" class="text-decoration-none coupon-button" data-coupon-code="{{ coupon.code }}" style="color:black;">
                  <div class="d-flex border my-2">
                    <div class="justify-content-between my-2 mx-2">
                      <span>Promo code: </span>
                      <span class="border border-success rounded px-2">{{ coupon.code }}</span>
                    </div>
                  </div>
                </a>
                {% endfor %}

              </div>
            </div>
            {%endif%}
            <div id="coupon-info" {% if not cart.coupon_use %}style="display: none;"{% endif %}>
              <div class="justify-content-between mx-2">
                <span>Coupon Used: </span>
                <span class="border border-succuess rounded px-2 py-2"  class="clickable">
                  <span id="coupon-code">{{cart.coupon_use.coupon.code}}</span>
                  <span id="remove-coupon" class="clickable" aria-hidden="true">&times;</span>
                </span>
              </div>
            </div>
            {%if cart.total > 0 %}
            <hr class="my-4">
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total MRP</p>
              <p class="cart-total mb-2">$ {{cart.total}}</p>
            </div>
            
            <div class="d-flex justify-content-between">
              <p class="mb-2">Coupon Discount </p>
              <p class="coupon-discount mb-2"> -$ {%if cart.coupon_use %}  {{coupon_discount}} {%else%} {{0.00}} {%endif%}</p>
            </div>
            
            <hr class="my-2">
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total Amount </p>
              <p class="discount-amount mb-2">$ {{cart.discount_amount}}</p>
            </div>

            <a href="{% url 'checkout' %}" class="text-decoration-none"> <button type="button"
                class="btn btn-dark btn-block btn-lg">
                <div class="d-flex justify-content-between">
                  <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                </div>
              </button></a>
            {%endif%}
          </div>

        </div>

      </div>

    </div>
  </div>
  </div>
  </div>
  </div>
</section>
<script src="{% static 'js/jquery.min.js'%}"></script>

<script>
  $(document).ready(function () {
    $("#remove-coupon").click(function () {
      var cartId = '{{ cart.id }}';
      $.ajax({
        type: 'POST',
        url: "{% url 'remove_coupon' %}",
        data: {
          cart_id: cartId,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (response) {
          $('#coupon-container').show();
          $('#coupon-info').hide(); // Hide coupon info on coupon removal
          $('.success').text(response.message);
          $('.cart-total').text('$' + response.total);
          $('.coupon-discount').text('$' + response.coupon_discount);
          $('.discount-amount').text('$' + response.discount_amount);
        },
        error: function () {
          // Handle error
        }
      });
    });

    // Function to apply the coupon via AJAX
    function applyCoupon(code) {
      var csrfToken = "{{ csrf_token }}";
      var url = "{% url 'apply_coupon' 0 %}".replace("0", code);

      $.ajax({
        type: 'POST',
        url: url,
        data: {
          csrfmiddlewaretoken: csrfToken,
          code: code
        },
        success: function (response) {
          if (response.success) {
            $('#coupon-info').show(); // Show coupon info on successful application
            $('#coupon-container').hide();
            $('#coupon-info').find('#coupon-code').text(code);
            $('.success').text(response.message);
            $('.cart-total').text('$' + response.total);
            $('.coupon-discount').text('$' + response.coupon_discount);
            $('.discount-amount').text('$' + response.discount_amount);
          } else {
            // Coupon application failed
            // Display an error message
          }
        },
        error: function () {
          // Handle error
        }
      });
    }

    // Add an event listener for the coupon form submission
    $("#coupon-form").submit(function (event) {
      event.preventDefault(); // Prevent the default form submission
        var couponCode = $(this).find("#id_code").val(); // Get the coupon code
        applyCoupon(couponCode); // Call the applyCoupon function
    });

    // Add an event listener for coupon button clicks
    $(".coupon-button").click(function (event) {
        event.preventDefault();
        var couponCode = $(this).data("coupon-code"); // Get the coupon code from data attribute
        applyCoupon(couponCode); // Call the applyCoupon function
    });


    $(".decrease-quantity").click(function () {
      event.preventDefault();
      var product_id = $(this).closest(".remove-cart-item-form").find(".product-id").val();
      updateCartItemQuantity(product_id, -1, false);
    });

    $(".increase-quantity").click(function () {
        event.preventDefault(); 
      var product_id = $(this).closest(".remove-cart-item-form").find(".product-id").val();
      updateCartItemQuantity(product_id, 1, false);
    });

    $(".remove-cart-item").click(function () {
      event.preventDefault();
      var product_id = $(this).closest(".remove-cart-item-form").find(".product-id").val();
      updateCartItemQuantity(product_id, 0, true);
    });

    function updateCartItemQuantity(product_id, change, remove = false) {
    var csrfToken = "{{ csrf_token }}";
    var url = "{% url 'update_cart_item_quantity' 0 %}".replace("0", product_id);

    $.ajax({
      url: url,
      type: "POST",
      data: {
        csrfmiddlewaretoken: csrfToken,
        quantity: change,
        remove: remove
      },
      success: function (response) {
        if (response.success) {
          $('.cart-total').text('$' + response.total);
          $('.coupon-discount').text('$' + response.coupon_discount);
          $('.discount-amount').text('$' + response.discount_amount);
          if (response.remove) {
            $('.cart-item[data-product-id="' + product_id + '"]').remove();
            if ($('.cart-item').length === 0) {
               $("#remove-coupon").click();
               window.location.href = '/cart/';
            }

          } else {
            var itemQuantity = $('.cart-item[data-product-id="' + product_id + '"]').find('.item-quantity');
            itemQuantity.text(response.quantity);
          }
        } else {
          // Handle error if needed
          $(".alert").addClass("alert-danger");
          $(".alert").empty();
          $(".alert").append('<small class="error">'+response.message+'</small>');
          console.log(response.message);
        }
      },
      error: function (xhr, textStatus, errorThrown) {
        console.log('AJAX request failed:', errorThrown);
      }
    });
  }
});


</script>
{% endblock body%}