{% extends "customer/base.html" %}
{%load static%}
{%block title%}buyTech {%endblock title%}
{%block homeactive%} active {%endblock homeactive%}

{%block body%}
{%if messages or response.messages%}
<div class="alert my-0 {% if message.tags == success %} alert-success {%else%} alert-danger {%endif%}" role="alert">
    {% for message in messages %}
    <small {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</small>
    {% endfor %}
</div>
{%endif%}
    <div class="row px-0 mx-0">
        <div class="row px-0 mx-0">
            <div class="col-md-3 my-4">
                <!-- Filter Button (Responsive) -->
                <button class="btn btn-dark d-block  mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#filterColumn">
                    <i class="fas fa-filter"></i> Filter
                </button>
            </div>
            <div class="col-md-9">
                <h2 class="text-center my-3"> Products </h2>
            </div>
            
            <div class="row px-0 mx-0">
                <!-- Filter Column (Responsive) -->
                <div class="col-md-3 my-3  collapse d-md-block" id="filterColumn">
                    <div class="card card-body mx-2" style="margin-top: 5px;">
                        <div class="row mb-3 mx-2">
                            <h5 class="px-0">Category</h5>
                            <select class="form-select" id="category">
                                <option value="All">All</option>
                                <option value="Mobile">Mobile</option>
                                <option value="Laptop">Laptop</option>
                            </select>
                        </div>
                        <div class="row mb-3 mx-2">
                            <h5 class="px-0">Brand</h5>
                            <div id="brandFilter">
                
                            </div>
                        </div>
                        <div class="row mb-3 mx-2">
                            <h5 class="px-0">Color</h5>
                            <div id="colorFilter">
                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 mb-3">
            
                    <div id="products">
                    </div>
                </div>
               
            </div>
        </div>
       
        
    </div>
    
<style>
    section {
        margin: 20px;
    }
    
      @media (max-width: 768px) {
       
        section {
            justify-content: center;
        }
    }
    .btn-filter {
        margin-bottom: 10px;

    }
    #brandFilter,#colorFilter{
        padding:0;
    }
</style>

<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script>
      // Define a function to handle the search
        function searchProducts() {
            const searchInput = $('#product-search');
            const searchResults = $('#products');
            const query = searchInput.val();

            $.ajax({
                url: `/product/api/product-search/?query=${query}`,
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Clear previous search results
                    searchResults.empty();

                    $('#products').html(data.product_list_html);
                },
                error: function (error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

        // Function to populate select element with options
        function populateCheckboxes(checkboxDivId, options, name) {
            const checkboxDiv = $(checkboxDivId);
            checkboxDiv.empty();

            options.forEach(option => {
                const checkboxLabel = $('<label>', {
                    class: 'form-check-label d-block mb-2', // Add class for a block element
                    text: option,
                    for: name + '-' + option
                });

                const checkboxInput = $('<input>', {
                    class: 'form-check-input mx-2',
                    type: 'checkbox',
                    name: name,
                    value: option,
                    id: name + '-' + option
                });

                checkboxLabel.prepend(checkboxInput);
                checkboxDiv.append(checkboxLabel);
            });
        }
        // Function to fetch and filter products
        function filterProducts() {
            const selectedCategory = $('#category').val();
            const selectedBrands = $('input[name="brand"]:checked').map(function () {
                return this.value;
            }).get();
            const selectedColors = $('input[name="color"]:checked').map(function () {
                return this.value;
            }).get();
            console.log(selectedBrands);
            // Make an AJAX request to your product filter API
            $.ajax({
                url: '/product/api/filter-products/',
                method: 'GET',
                dataType: 'json',
                data: {
                    category: selectedCategory,
                    brand: selectedBrands,
                    color: selectedColors,
                },
                success: function (data) {
                    // Handle the filtered product data here, e.g., update the UI
                    $('#products').html(data.product_list_html);
                },
                error: function (error) {
                    console.error('Error fetching filtered products:', error);
                },
                complete: function (data) {
                    console.log("Data sent to server:", data);
                }
            });

        }



        $(document).ready(function () {
            filterProducts();

            // Fetch filter options from the API
            $.ajax({
                url: '/product/api/filter-options/',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Populate brand filter
                    populateCheckboxes('#brandFilter', data.brands, 'brand');

                    // Populate color filter
                    populateCheckboxes('#colorFilter', data.colors, 'color');
                },
                error: function (error) {
                    console.error('Error fetching filter options:', error);
                }
            });

            

            // Bind the input event listener to the search input only after user interaction
            $('#product-search').on('input', function () {
                searchProducts();
            });
            
            // Bind event listeners to filter products when category, brand, or color changes
            $('#category').on('change', filterProducts);
            $('#brandFilter').on('change', 'input[name="brand"]', filterProducts);
            $('#colorFilter').on('change', 'input[name="color"]', filterProducts);

        });

</script>
{% endblock body%}