{% extends "admin/admin_base.html" %}
{%load static%}
{%block title%} Add Product{%endblock%}

{%block addproductsactive%} active {%endblock %}

{%block body%}
<div class="container my-3">
    <h2 class="text-center">Add Products</h2>
    <form method="POST" enctype="multipart/form-data" id="form">
        {% csrf_token %}
            <label for="Mobile"class="form-label">
                <input class="form-check-input" type="radio" name="category-input" id="Mobile" value="Mobile" {% if category == "Mobile" %} checked {% endif %}>
                Mobile
            </label>
            <label for="Laptop" class="form-label">
                <input class="form-check-input" type="radio" name="category-input" id="Laptop" value="Laptop" {% if category == "Laptop" %} checked {% endif %}>
                Laptop
            </label>

        <div id="form-container">
            <div class="col-8">
                <div id="product-form">
                    {% for field in form %}
                    <label class="form-label">{{field.label}}</label>
                    <div class="controls">
                        {{ field }}
                        <span class="help-inline">
                            {% for error in field.errors %}<small style="color: red">{{ error }}</small><br />{% endfor %}
                        </span>
                    </div>
                    <br />
                    {% endfor %}
                </div>
               
                <div id="mobile-form" style="display:none">
                    {% for field in mobile_form %}
                    <label class="form-label">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        <span class="help-inline">
                            {% for error in field.errors %}<small style="color: red">{{ error }}</small><br />{% endfor %}
                        </span>
                    </div>
                    <br />
                    {% endfor %}
                </div>

                <div id="laptop-form" style="display:none;">
                    {% for field in laptop_form %}
                    <label class="form-label">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        <span class="help-inline">
                            {% for error in field.errors %}<small style="color: red">{{ error }}</small><br />{% endfor %}
                        </span>
                    </div>
                    <br />
                    {% endfor %}
                </div>
                
            </div>
        </div>
        <div class="col-8">
            <button type="submit" class="btn btn-dark">Add Product</button>
        </div>

    </form>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("input[name='category-input']").on("change", function() {
        var selectedCategory = $(this).val();
            if (selectedCategory === "Mobile") {
                $("#mobile-form").show();
                $("#laptop-form").hide();
                // Enable Mobile form fields
                $("#mobile-form input").prop("disabled", false);
                // Disable Laptop form fields
                $("#laptop-form input").prop("disabled", true);
            } else if (selectedCategory === "Laptop") {
                $("#mobile-form").hide();
                $("#laptop-form").show();
                // Enable Laptop form fields
                $("#laptop-form input").prop("disabled", false);
                // Disable Mobile form fields
                $("#mobile-form input").prop("disabled", true);
            }
    });
    });
</script>
{%endblock body%}