{% extends "admin/admin_base.html" %}
{%load static%}
{%block title%} Home {%endblock title%}
{%block homeactive%} active {%endblock homeactive%}

{%block body%}
{%if messages%}
<div class="alert alert-success my-0" role="alert">
   {% for message in messages %}
        <small {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</small>
    {% endfor %}
</div>
{%endif%}
<h2 class="text-center my-3"> My Products </h2>
{% include 'product_list.html' with products=products %}

<style>
    section {
        margin: 20px;
    }

    @media (max-width: 768px) {
        section {
            justify-content: center;
        }
    }
</style>

{%endblock body%}