{% extends base_template %}
{%load static%}
{%block title%} View Order{%endblock title%}
{%block yourorderssactive%} active {%endblock yourorderssactive%}

{%block body%}

{%if messages%}
<div class="alert alert-success my-0" role="alert">
  {% for message in messages %}
  <small {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</small>
  {% endfor %}
</div>
{%endif%}


<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-body">

            <div class="row">

              <div class="col">
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <h5 class="mb-1">Order Id: {{order.id}}</h5>
                    <p class="mb-0">You have {{order_items|length}} items in your order</p>
                  </div>
                </div>
                {%for item in order_items %}
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img src="{{ item.product.image.url}}" class="img-fluid rounded-3" alt="Shopping item"
                              style="width: 65px;">
                          </div>
                          <div class="ms-3">
                            <h5>{{item.product.name}}</h5>
                            <p class="small mb-0">{{item.product.description}}</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div class="ms-2">
                            <p class="my-0">Price: ${{item.product.price}}</p>
                            <p class="my-0">Qty: {{item.quantity}}</p>
                          </div>

                        </div>


                      </div>
                    </div>
                  </div>
                {%endfor%}
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <h6 class="mb-1">Shipping Address:</h6>
                    <p class="mb-0">{{order.shipping_address}}</p>
                  </div>
              
                </div>
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <h6 class="mb-1">Billing Address:</h6>
                       <p class="mb-0">{{order.billing_address}}</p>
                    </div>
                    
                  </div>
              </div>

            </div>
            

            <hr class="my-2">
            {%if request.user.user_type == "Customer"%}
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total Price</p>
              <p class="mb-2">$ {{ order.total }}</p>
            </div>
           <div class="d-flex justify-content-between">
                    <p class="mb-2">Coupon Discount </p>
                    <p class="mb-2"> -$ {%if order.coupon_use %} {{order.coupon_use.coupon.discount}} {%else%} {{0.00}} {%endif%}</p>
            </div>
            <hr class="my-2">
            {%endif%}
             
            <div class="d-flex justify-content-between">
                <p class="mb-2">Order Total</p>
                <p class="mb-2">$ {{order_total}}</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center my-3">
          {% if request.user.user_type == "Admin"%}
          <a href="" class="text-decoration-none me-3">
            <button class="btn btn-dark">Update Order Status</button>
          </a>
          {% endif%}
        </div>
         
      </div>
     
    </div>

  
  </div>
</section>


{%endblock body%}