{% extends base_template %}
{%load static%}
{%block title%} View Order{%endblock title%}
{%block yourorderssactive%} active {%endblock yourorderssactive%}

{%block body%}


<div class="alert my-0 {% if message.tags == success and messages %} alert-success {%elif message.tags == "error"  %} alert-danger {%else%}{%endif%}" role="alert">
  {% for message in messages %}
  <small {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</small>
  {% endfor %}
</div>


<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center" >
      <div class="col-md-10">
        <div class="card" data-order-id ="{{order.id}}"id="order-summary">
          <div class="card-body">
              <!-- Return/Exchange Modal -->
              <div class="modal fade" id="returnExchangeModal" tabindex="-1" role="dialog" aria-labelledby="returnExchangeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="returnExchangeModalLabel">Return/Exchange</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    </div>
                    <div class="modal-body py-2">
                      <form id="returnExchangeForm">
                        <div class="form-group my-3">
                          <label for="feedback">Reason for Return/Exchange</label>
                          <textarea class="form-control" id="feedback" name="feedback" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                          <label for="return_status">Return/Exchange status</label>
                          <select class="form-control" id="returnStatus" name="return_status">
                            <option value="Return">Return</option>
                            <option value="Exchange">Exchange</option>
                          </select>
                        </div>
                        <input type="hidden" id="orderItemId" name="order_item_id">

                        <button type="submit" class="btn btn-dark my-3">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            <div class="row">
            
              <div class="col">
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <h5 class="mb-1">Order Id: {{order.id}}</h5>
                    <p class="mb-0">You have {{order_items|length}} items in your order</p>
                  </div>
                </div>
                {%for item in order_items %}
                  <div class="card mb-3 item-card" id="order-item" data-order-item-id ="{{item.id}}">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img src="{{ item.product.image.url}}" class="img-fluid rounded-3" alt="Shopping item"
                              style="width: 65px;">
                          </div>
                          <div class="ms-3">
                            <h5>{{item.product.name}}</h5>
                            <p class="small mb-0">{{item.product.description}}</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div class="ms-2">
                            <p class="my-0">Price: ${{item.product.price}}</p>
                            <p class="my-0">Qty: {{item.quantity}}</p>
                          </div>

                        </div>


                      </div>
                      {% if request.user.user_type == "Admin" %}
                      <div class="d-flex justify-content-between align-items-center">
                        <div>
                          <p class="mb-0">Status:</p>
                        </div>
                        <div>
                        <select name="new_status" class="status-select">
                          <option value="Placed" {% if item.status == "Placed" %}selected{% endif %}>Placed</option>
                          <option value="Processing" {% if item.status == "Processing" %}selected{% endif %}>Processing</option>
                          <option value="Shipped" {% if item.status == "Shipped" %}selected{% endif %}>Shipped</option>
                          <option value="Delivered" {% if item.status == "Delivered" %}selected{% endif %}>Delivered</option>
                        </select>
                        </div>
                      </div>
                        {% if item.status == "Delivered" %}
                          <div class="d-flex justify-content-end my-2">
                            {% if item.return_status%}
                            <small class="alert-sucess" style="color: green;">{{item.return_status}} Initiated</small>
                            {% endif %}
                          </div>
                        {% endif %}
                      {%else%}
                      <p class="order-status" style="display: none;">{{ item.status }}</p>
                      
                      <div class="d-flex flex-row justify-content-between align-items-center align-content-center">
                        <span class="dot"></span>
                        <hr class="flex-fill track-line"><span class="dot"></span>
                        <hr class="flex-fill track-line"><span class="dot"></span>
                        <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot dot">
                          <i class="fa fa-check text-white"></i></span>
                      </div>
                      
                      <div class="d-flex flex-row justify-content-between align-items-center">
                        <div class="d-flex flex-column align-items-start"><span>Order placed</span>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center"><span>Order Processing</span></div>
                        <div class="d-flex flex-column align-items-center"><span>Shipped</span></div>
                        <div class="d-flex flex-column align-items-end"><span>Delivered</span></div>
                      </div>
                        {% if item.status == "Delivered" %}
                          <div class="d-flex justify-content-end my-2">
                            {% if item.return_status is None %}
                              <a href="javascript:void(0);" class="text-decoration-none return-exchange-btn" data-order-item-id="{{ item.id }}">
                                <button class="btn btn-outline-dark">Return/Exchange</button>
                              </a>
                            {% else %}
                              <small class="alert-sucess" style="color: green;">{{item.return_status}} Initiated</small>
                            {% endif %}

                          </div>

                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                {%endfor%}
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <h6 class="mb-1">Shipping Address:</h6>
                    <p class="mb-0">{{order.shipping_address}}</p>
                  </div>
              
                </div>
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <h6 class="mb-1">Billing Address:</h6>
                       <p class="mb-0">{{order.billing_address}}</p>
                    </div>
                    
                  </div>
              </div>

            </div>
            

            <hr class="my-2">
            {%if request.user.user_type == "Customer"%}
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total Price</p>
              <p class="mb-2">$ {{ order.total }}</p>
            </div>
           <div class="d-flex justify-content-between">
                    <p class="mb-2">Coupon Discount </p>
                    <p class="mb-2"> -$ {%if order.coupon_use %} {{order.coupon_use.coupon.discount}} {%else%} {{0.00}} {%endif%}</p>
            </div>
            <hr class="my-2">
            {%endif%}
             
            <div class="d-flex justify-content-between">
                <p class="mb-2">Order Total</p>
                <p class="mb-2">$ {%if request.user.user_type == "Admin"  %} {{order_total}} {%else%} {{order.discount_amount}} {%endif%}</p>
            </div>
          </div>
        </div>
     
         
      </div>
     
    </div>

  
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('#print-receipt').click(function () {
      var orderId = $(this).data('order-id');
       var printContents = $('#order-summary').html();
      var originalContents = $('body').html();
      $('body').html(printContents);
      window.print();
      $('body').html(originalContents);
    });
    $('.status-select').change(function () {
      var orderItemId = $(this).closest('#order-item').data('order-item-id');
      var status = $(this).val();

      $.ajax({
        type: 'POST',
        url: '{% url "update_order_status" %}',
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          'order_item_id': orderItemId,
          'status': status,
        },
        success: function () {
          
        },
        error: function () {
          // Handle error if needed
        }
      });
    });
    $('.item-card').each(function () {
      const statusElement = $(this).find('.order-status');
      const status = statusElement.text().trim().toLowerCase();

      const progressComponents = $(this).find('.dot');

      const statuses = ['placed', 'processing', 'shipped', 'delivered'];
      const statusIndex = statuses.indexOf(status);

      progressComponents.each(function (index) {
        const currentDot = $(this);
        const trackLine = currentDot.prev('.track-line');

        if (index <= statusIndex) {
          currentDot.addClass('completed');
          trackLine.addClass('completed');
          
        } else {
          currentDot.addClass('uncompleted');
         
        }
      });
    });
    $('.return-exchange-btn').click(function () {
      var orderItemId = $(this).data('order-item-id');
      $('#orderItemId').val(orderItemId);
      $('#returnExchangeModal').modal('show');
    });
    $('.close').click(function () {
      $('#returnExchangeModal').modal('hide');
    });
    
    $('#returnExchangeForm').submit(function (event) {
      event.preventDefault();
      var orderItemId = $(this).find('#orderItemId').val();
      var returnStatus = $(this).find('#returnStatus').val();
      var feedback = $(this).find('#feedback').val();
      $.ajax({
        type: 'POST',
        url: '{% url "update_order_status" %}',
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          'order_item_id': orderItemId,
          'feedback': feedback,
          'return_status':returnStatus,
        },
        success: function (response) {
            $('#returnExchangeModal').modal('hide');
            $(".alert").addClass("alert-success");
            $(".alert").empty();
            $(".alert").append('<small class="success">' + response.message + '</small>');
          console.log(response.message);
        },
        error: function () {
        }
      });
    });
  });
</script>
<style>
.track-line {
height: 2px !important;
background-color: #000;
opacity: 1;
}

.dot {
height: 10px;
width: 10px;
margin-left: 3px;
margin-right: 3px;
margin-top: 0px;
background-color: #000;
border-radius: 50%;
display: inline-block
}

.big-dot {
height: 25px;
width: 25px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
background-color: #000;
border-radius: 50%;
display: inline-block;
}

.big-dot i {
font-size: 12px;
}

.card-stepper {
z-index: 0
}

.completed{
  background-color: #488978;
  color: #488978;
  
}
.uncompleted{
  background-color: #000;
  
}
</style>

{%endblock body%}